* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFE;
}

.container {
    flex: 3.25;
    padding: 3.3vh 4vw;
    height: 100vh;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.form:focus {
    outline-color: rgb(249, 161, 9);
}

.hidescroll::-webkit-scrollbar {
    display: none;
}

.hidescroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}